body{
    scroll-behavior: smooth;
}

/* navigation bar part */

.badge{
    background-color: #1bbc9b;
}

.nav-link{
    font-weight: bold;
}

.active a{
    color: #1bbc9b !important;
}

@media screen and (max-width:992px) {
    .icons{
        display: none !important ;
    }
    .navbar h1,.navbar div{
        border-right:none !important;
    }
}

/* photo slider */
.slider div img {
    height: 450px;
}
.slider div div {
    transform: translateY(-50%);
}
.slider div div h1{
    font-size: 3rem;
}
.slider div div h5{
    line-height: 2rem;
}
/* done by the website part */
.offers div button{
    width: 80px ; height: 80px;
}
.offers div button i{
    font-size: xx-large;
}


/* Globally prefferd part */
.list-column div p{
    line-height: 1.5rem;
}


/* features part */
.featuer-col div div div div i{
    font-size:xx-large;
     color: #1bbc9b;
}

/* some Works part */
.reviews div div img{
    width:70px;
    height:70px;
}

/* photos of logos part */
.photos-div img{
    max-width:150px;
    max-height: 150px;
}
figure img{
    height: 200px !important;
    width:320px;
    padding-right: 2px !important;
}



/* check out part */
.bg-checkout{
    background-color: #1bbc9b;
}


/*Contact part */
.bg-contact{
    background-color:#333333;
}

.contact{
    color: rgba(255, 255, 255, 0.63);
}
#canvas-gradient{
    background-image: linear-gradient( to right,rgba(255, 255, 255, 0.473) , #0c0c0c);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; 
   -moz-background-clip: text;
   -moz-text-fill-color: transparent;
}

/* footer part */
.bg-footer{
    background-color: #292929;
}
.right-footer,.left-footer,.right-footer .logos a{
    color: #474747;
}

.right-footer .logos{
    font-size: large; 
}


